<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for billet in billets %}
                <div>
                    <p>published: {{billet.published_date}}</p>
                    <h2><a href="">{{billet.title}}</a></h2>
                    <p>{{billet.text|linebreaksbr}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>